.studiesContainer {
    padding: 20px;
    background-color: #353535;
    max-width: 80%;
    border-radius: 25px;
}


@media only screen and (min-width: 425px) {
    .studiesContainer{
        min-width: 80%;
    }
}

.studiesContainer h1 {
    font-size: 20px;
    font-weight: 600;
}