.topBar {
    z-index: 1;
    position: fixed;
    display: flex;
    height: 45px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../../public/totyiconbg.png');
    background-size: 200%;
    background-position-y: 60% ;
    background-position-x: 50% ;
    background-repeat: no-repeat;
}
.title{
    font-weight: 300;
    font-family: 'Gloria Hallelujah', cursive;
}

.leftButton {
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}
.rightButton {
    margin-right: 10px;
}
/*@media only screen and (min-width: 767px) {*/
/*    .topBar{*/
/*        position: relative;*/
/*        z-index: 1;*/
/*    }*/
/*    .title{*/
/*        font-size: 3.5rem;*/
/*    }*/
/*    .leftButton, .rightButton {*/
/*        border: none;*/
/*        width: 100px;*/
/*        height: 100%;*/
/*    }*/

/*    .link {*/
/*        width: 100%;*/
/*        display: block;*/
/*        height: 100%;*/
/*    }*/

/*}*/