.projectContainer {
    width: 250px;
    /*padding: 0 16px 16px;*/
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webPicture {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    background-color: #55cca2;
}

.projectContainer h1 {
    padding: 10px;
    color: black;
}

.projectContainer p {
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
}

.text {
    padding: 12px;
    /*position: relative;*/
}
.text h1{

    font-size: 20px;
}
.text p {
    font-size: 14px;
}
.text img {
    /*position: absolute;*/
    height: 20px;
}
.titleFlagContainer{
display: flex;
    align-items: center;
    gap: 10px;
}