.group {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    color: white;
    /*border-bottom: 2px dashed white;*/
}

.tabList {
    display: flex;
}
.tab{
    flex: 1;
    border: none;

}
.button {

    width: 100%;
    background-color: #202020;
    height: 60px;
    border: none;
    color: rgba(255, 255, 255, .6);

}
.button:focus {
    outline: none;
    box-shadow: none;
}
.panels {
    align-self: center;
}
.selected{
    border-bottom: 3px solid rgba(255, 255, 255, .6);
}
.notSelected{
    border: none;
}