.chartContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    background-color: #202020;
}

.chart {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;

}

.chartTitle {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 14px;
    top: 7px;
    width: 150px;
}

.chartPercentage {
    color: white;
    position: absolute;
    top: 60%;
    right: 34%;
}