.chartContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    background-color: #202020;
    padding-top: 15px;
}

.chart {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
/*opacity: 0;*/
}
/*.doughnut {*/
/*    border:5px solid green;*/
/*}*/
/*.doughnut:first-child {*/
/*    opacity: 0;*/
/*    outline:5px solid red;*/
/*}*/
/*.doughnut:first-child:first-child {*/
/*    opacity: 0;*/
/*    border:5px solid blue;*/
/*}*/

.chartTitle {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 14px;
    top: 7px;
    width: 150px;
}

.chartPercentage {
    color: white;
    position: absolute;
    top: 60%;
    right: 34%;
}