.title {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e6edf3;
    text-align: center;
}

.langBoxes {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.toolBoxes {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}